/** general css **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;
  /* background-color: rgb(105, 105, 255); */
  /* height: 92vh; */
}

a {
  text-decoration: none;
}

div[id$="-top"] {
  position: relative;
  bottom: 7.9vh;
}

/* div#about-top {
  position: absolute;
  bottom: 7.9vh;
} */

/** header / nav css **/

nav {
  display: flex;
  width: 100%;
}

nav li {
  list-style-type: none;
  width: 100%;
}

nav li a {
  color: whitesmoke;
}

/* nav li a:hover {
  color:rgb(255, 217, 50);
} */

div#logo {
  /* float: left; */
  display: flex;
  height: 100%;
  align-items: center;
  margin: 5px 15px;
  padding-right: 15px;
  /* font-size: 2em; */
  font-size: 1.2em;
  color: whitesmoke;
  border-right: 1px solid rgb(138, 43, 226);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: rgba(138, 43, 226, 0.5);
  border-bottom: 2px solid black;
  position: fixed;
  z-index: 1;
}

/* @media screen and (max-width: 1024px) {
  nav {
    width: 50vw;
  }
} */

/** home section css **/

section#home {
  height: 100vh;
  top: 8vh;
  position: relative;
  background-color: yellow;
}

#home h1 {
  position: relative;
  top: 30%;
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;;
}

#home h3 {
  position: relative;
  top: 30%;
  text-align: center;
  letter-spacing: 2px;
}

#home h5 {
  position: absolute;
  bottom: 18vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

/** about section css **/

section#about {
  position: relative;
  height: 92vh;
  background-color: green;
}


/** projects section css **/

section#projects {
  position: relative;
  height: 92vh;
  background-color: orange;
}


/** contact section css **/

section#contact {
  position: relative;
  height: 92vh;
  background-color: red;
}


/** footer section css **/
footer {
  position: relative;
  height: 10vh;
  background-color: purple;
}