/**** GENERAL CSS ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;
  /* background-color: rgb(105, 105, 255); */
  /* height: 92vh; */
}

a {
  text-decoration: none;
}

div[id$="-top"] {
  position: relative;
  bottom: 7.9vh;
}

button#next-button {
  position: fixed;
  bottom: 8vh;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

h1.heading {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px; 
  padding: 5%;
  color: rgba(235, 235, 235, 0.85);
  text-shadow: 1px 3px 1px rgba(170, 170, 170, 0.98);
  font-size: 1.5rem;
}



/**** HEADER/NAV CSS ****/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background-color: rgb(138, 10, 226);
  /* border-bottom: 2px solid black; */
  position: fixed;
  z-index: 3;
}

div#logo {
  text-align: center;
  /* height: 100%; */
  flex-basis: 80%;
  font-size: 1.2em;
  color: whitesmoke;
  /* border-right: 1px solid rgb(138, 43, 226); */
}

nav {
  position: absolute;
  right: 0px;
  height: 40vh;
  top: 8vh;
  background-color: rgb(138, 10, 226);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in;
  /* border: 2px solid black; */
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: -1;
}

nav li {
  list-style-type: none;
  width:100%;
}

nav li a {
  /* width: 100%; */
  background-color: rgb(138, 10, 226);
  color: whitesmoke;
}

.nav-open {
  transform: translateY(0%);
}

nav li a.active {
  background-color: yellow;
}

.burger {
  display: block;
  cursor: pointer;
  flex-basis: 10%;
}

.burger div {
  height: 3px;
  width: 20px;
  margin: 3px 0;
  background-color: whitesmoke;
}

nav li a:visited {
  color:whitesmoke;
}

nav li a:active {
  color: red;
}


@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  .burger {
    display: none;
  }
  nav {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateY(0%);
    height: 8vh;
    width: 100%;
  }

  nav li {
    margin: 2px;
    list-style-type: none;
    text-align: center;
    /* width:100%; */
  }
  nav li a {
    /* width: 100%; */
    /* background-color: rgb(191, 134, 245); */
    color: whitesmoke;
  }
}



/**** HOME SECTION CSS ****/

section#home {
  height: 100vh;
  top: 8vh;
  position: relative;
  background-color: yellow;
  overflow: hidden;
}

#home h1 {
  position: relative;
  top: 30%;
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;;
}

#home h3 {
  position: relative;
  top: 30%;
  text-align: center;
  letter-spacing: 2px;
}

#home h5 {
  position: absolute;
  bottom: 13vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.home-text {
  font-family: 'Indie Flower', cursive;
  position: relative;
  top: 30%;
}

.bg1 {
  position: absolute;
  width: 200vw;
  height: 100vh;
  left: -75vw;
  top: 10vh;
  background-color: rgb(255, 200, 0);
  box-shadow: inset 0px 0px 20px 20px #DBA632;
  /* border-top: 2px solid rgb(104, 81, 0); */
  transform: rotate(45deg);
}

.bg2 {
  position: absolute;
  width: 200vw;
  height: 75vh;
  left: -100vw;
  bottom: -10vh;
  background-color: orange;
  box-shadow: inset 0px 0px 20px 20px rgb(212, 146, 3);
  transform: rotate(45deg);
}


/**** ABOUT SECTION CSS ****/

section#about {
  display: flex;
  flex-direction: column;
  /* padding: 5%; */
  position: relative;
  /* height: 92vh; */
  background-color: green;
}

#about *:not(img) {
  padding-left: 5%;
}


#about p {
  margin-left: 5%;
  width: 70%;
}

.skillHeader {
  font-size: 0.9em;
}

.skill {
  list-style-position: inside;
  margin-left: 5%;
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 0.85em;
}

img#headshot {
  margin: 0 5%;
  border: 2px solid white;
  border-radius: 50%;
  height: 22vh;
  width: 22vh;
}

#about h3 {
  padding-top: 5%;
  padding-bottom: 3%;
}

#about h3#skillList::after {
  content: " (* means some experience)";
  font-size: 0.65em;
}

#about h5 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-left: 0;
  margin-top: 10vh;
  margin-bottom: 3vh;
  padding-left: 0%;
}

#about a {
  padding-left: 0;
}



/**** PROJECTS SECTION CSS ****/

section#projects {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  position: relative;
  min-height: 92vh;
  background-color: orange;
  overflow: hidden;
  z-index: 2;
}

div.projects {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: center;
  width: 200px;
  height: 200px; */
}

.projects h3 {
  padding: 1.2em 0;
  margin-top: 3em;
  text-align: center;
}

#projects h5 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10vh;
  margin-bottom: 3vh;
  /* padding-top: 8.5vh; */
}

#projects img {
  position: relative;
  height: 220px;
  width:  220px;
  top: 11px;
  left: 11px;
  border: 1px solid black;
  border-radius: 3px;
}

.project-bg {
  width: 245px;
  height: 245px;
  background-color: rgb(223, 167, 15);
  border: 2px solid rgb(42, 42, 42);
  border-radius: 3px;
}

.bg3 {
  position: absolute;
  width: 200vh;
  height: 100vw;
  transform: rotate(-60deg);
  bottom: 30%;
  left: -120%;
  background-color: rgba(255, 69, 0, 0.5);
  box-shadow: inset 0px 0px 30px 15px rgb(182, 64, 10);
  z-index: -1;
}



/**** CONTACT SECTION CSS ****/

section#contact {
  position: relative;
  min-height: 92vh;
  background-color: red;
  margin-bottom: 7.9vh;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 25px 10%;
  padding-bottom: 1em;
}

fieldset {
  padding: 5%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: darkred;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: whitesmoke;
}

form input, form textarea {
  padding: 5px;
  margin-top: 10px;
  font-size: 1.5em;
  width: 100%;
  border-radius: 2px;
  border: 1px solid black;
}

form *:focus {
  border: 2px solid yellow;
}

.contact-info {
  padding: 5%;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid darkred;
  border-radius: 3px;
  background-color: rgb(170, 0, 0);
  box-shadow: 0px 0px 10px 3px rgb(170, 0, 0);
}

.contact-info li {
  margin: 1em 0em;
  font-weight: bold;
  letter-spacing: 2px;
  color: whitesmoke;
  text-shadow: 2px 0px 2px grey;
  list-style-type: none;
}


/**** FOOTER SECTION CSS ****/
footer {
  position: fixed;
  height: 8vh;
  width: 100vw;
  bottom: 0;
  z-index: 1;
  background-color: rgb(138, 10, 226);
}
/* 
footer h1 {
  font-size: 1.2rem;
} */